<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
  
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
         logEntireMessage="true"
         logMalformedMessages="true"
         logMessagesAtServiceLevel="true"
         logMessagesAtTransportLevel="true"
         maxMessagesToLog="3000"
         maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    <services>
      <service name="WcfServiceDemo.Service1" behaviorConfiguration="MetadataEnabled">
        <endpoint address="" 
                  binding="customBinding" 
                  bindingNamespace="http://tempuri.org/" 
                  bindingConfiguration="myBinding" 
                  name="DemoService" 
                  contract="WcfServiceDemo.IService1" 
                  behaviorConfiguration="defaultEndPoint" />
      </service>
    </services>
      
    <bindings>
      <customBinding>
        <binding name="myBinding">
          <!--textMessageEncoding messageVersion="Soap12"/-->
          <customMessageEncoding  innerMessageEncoding="textMessageEncoding" 
                                  messageEncoderType="WcfExtensions.GZipMessageEncoder, WcfExtensions"
                                  messageVersion="Soap12">
          </customMessageEncoding>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataEnabled">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceSecurityAudit
						auditLogLocation="Application"
						serviceAuthorizationAuditLevel="Failure"
						messageAuthenticationAuditLevel="Failure"
						suppressAuditFailure="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="defaultEndPoint">
          <gzipDecompression/>
        </behavior>

      </endpointBehaviors>
      
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="gzipDecompression" type="WCFExtensions.RequestDecompressionBehaviorElement, WCFExtensions, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="customMessageEncoding" type="WcfExtensions.MessageEncodingBindingElementExtension, WcfExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <protocolMapping>
      <!--add binding="basicHttpsBinding" scheme="https" /-->
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--add name="gzip" type="WcfServiceDemo.GZipDecompressModule"/-->
      <!--add name="intercept" type="WcfServiceDemo.InterceptorModule"/-->
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "Logs\Traces.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="Logs\Messages.svclog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="logFile"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Logs\Debug.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
