<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
  
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfServiceDemo.Service1">
        <endpoint address="" binding="customBinding" bindingNamespace="http://tempuri.org/" bindingConfiguration="myBinding" name="defaultBinding" contract="WcfServiceDemo.IService1" behaviorConfiguration="noneProtectionLevelForEndPoint" />
      </service>
    </services>
      
    <bindings>
      <customBinding>
        <binding name="myBinding">
          <!--textMessageEncoding messageVersion="Soap12" />-->
          <binaryMessageEncoding compressionFormat="GZip"/>
          <httpTransport decompressionEnabled="True" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceSecurityAudit
						auditLogLocation="Application"
						serviceAuthorizationAuditLevel="Failure"
						messageAuthenticationAuditLevel="Failure"
						suppressAuditFailure="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="noneProtectionLevelForEndPoint"/>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--add name="gzip" type="WcfServiceDemo.GZipDecompressModule"/-->
      <add name="gzip" type="WcfServiceDemo.InterceptorModule"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sharedListeners>
      <add name="logFile"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="logs.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
