<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="defaultBinding">
                  <!--textMessageEncoding messageVersion="Soap12" /-->
                  <binaryMessageEncoding compressionFormat="GZip"/>
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19860/Service1.svc" binding="customBinding"
                bindingConfiguration="defaultBinding" contract="WcfServiceDemoProxy.IService1"
                name="defaultBinding" />
        </client>
    </system.serviceModel>
</configuration>